# Backend
backend/target/
backend/src/main/resources/static/
backend/mvnw
*.class
*.jar
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
.vscode/
*.iml
.DS_Store
